@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.navbar-brand-name{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    margin-left: 10px;
}

.nav-text{
    font-family: 'Alfa Slab One', cursive;
}